<script src="https://unpkg.com/vue/dist/vue.js"></script>

<div id="app">
  <p>{{ message }}</p>
</div>

<div id="app-2">
    <span v-bind:title='message'>Wait for a second</span>
</div>

<div id="app-3">
    <p v-if="seen">You can see me, {{ message }}</p>
</div>

<div id="app-4">
  <ul>
    <li v-for="fruit in fruits">{{ fruit }}</li>
  </ul>
</div>

<div id="app-5">
  <h1>Event Listener</h1>
  <p>what i get: {{ message }}</p>
  <button v-on:click="changeMes">Click to become lol</button>
</div>

<div id="app-6">
  <h1>Input Model</h1>
  <p>result: {{ result }}</p>
  <input type="text" name="result" v-model="result">
</div>

<script>
  var changeDOM = new Vue({
    el: '#app',
    data: {
      message: 'Hello Vue.js yoo'
    }
  })
  //each is controllable through javascript
  var changeBind = new Vue({
    el: "#app-2",
    data: {
      message: 'page is loaded at ' + new Date()
    }
  })
  //v-bind is command, any command that starts with v- means it is from vuejs
  //in this case the v-bind means binding the dom's title property and the vue's message

  var switchProp = new Vue({
    el: "#app-3",
    data: {
      seen: true,
      message: 'hello',
      lol: ()=>('lol')
    }//anything inside data is accessible by varname.propname
    //vuejs uses its own transition from animate.css
  })

  switchProp.message = switchProp.lol()

  var list = new Vue({
    el: '#app-4',
    data: {
      fruits: [
        'banana',
        'apple',
        'pear'
      ]
    }
  })
  list.fruits.push('pineapple')

  var buttonevent = new Vue({
    el: '#app-5',
    data: {
      message: 'Original'
    },
    methods: {
      changeMes: () => (buttonevent.message = 'lol')
    }
  })
  //virtual dom concept

  var change = new Vue({
    el: '#app-6',
    data: {
      result: 'Hello world'
    }
  })

</script>
